.cartContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.cartContent > img {
    height: 120px;
    width: 100px;
    text-align: center;
}
.cartContent button{
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #1bcb7f;
    text-align: center;
    cursor: pointer;
    width: 15%;
    margin-top: 13px;
    height: 15%;
    font-size: 15px;
}

.cartTotal {
    text-align: center;
}

.cart-message-center {
    text-align: center;
    margin-top: 40px;
}